{% extends 'events/base.html' %}

{% block content %}
 <!-- ログインしている場合 -->
  {% if organizer.is_authenticated %}
    <a href="{% url 'event_create' %}">新規作成</a>
    <p>ログインユーザ: {{ organizer }}</p>
  {% else %}
    <p>ログインしていません</p>
    <a href="{% url 'organizer_login' %}?next={{ request.path }}">ログイン</a>
  {% endif %}

<h1>イベント一覧</h1>
<hr>{%for event in events %}
  <h2>{{event.name}}</h2>
  <a href="{% url 'event_detail' event.pk %}">詳細</a>
  <br>
  <p>作成者: {{ event.organizer }}</p>

  <!-- ログインユーザとイベント作成者が同じ場合に編集が可能 if文の条件をもっと綺麗にしたい,,,, -->
  {% if organizer.is_authenticated and organizer.pk != event.organizer.pk %}
    <a href="{% url 'event_update' event.pk %}">編集</a>
    <br>
    <a href="{% url 'event_delete' event.pk %}">削除</a>
  {% endif %}

{%endfor%}



{% endblock %}