{% extends 'base.html' %}

{% block content %}
 <!-- ログインしている場合 -->
  {% if user.is_authenticated %}
    <a href="{% url 'event_create' %}" class="btn btn-primary mb-3">新規作成</a>
  {% endif %}

<h1>イベント一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">イベント名</th>
      <th scope="col">詳細</th>
      <th scope="col">日付</th>
      <th scope="col">場所</th>
      <th scope="col">ジャンル</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td><a href="{% url 'event_detail' event.pk %}" class="btn btn-primary">詳細</a></td>
      <td>{{ event.date }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.type }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
