{% extends 'base.html' %}

{% block content %}
 <!-- ログインしている場合 -->
  {% if organizer.is_authenticated %}
    <a href="{% url 'event_create' %}" class="btn btn-primary mb-3">新規作成</a>
  {% else %}
    <p>ログインしていません</p>
    <a href="{% url 'organizer_login' %}?next={{ request.path }}" class="btn btn-primary mb-3">ログイン</a>
  {% endif %}

<h1>イベント一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">イベント名</th>
      <th scope="col">詳細</th>
      <th scope="col">作成者</th>
      <th scope="col">編集</th>
      <th scope="col">削除</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td><a href="{% url 'event_detail' event.pk %}" class="btn btn-primary">詳細</a></td>
      <td>{{ event.organizer }}</td>
      {% if organizer.is_authenticated and organizer.pk != event.organizer.pk or organizer.is_superuser %}
        <td><a href="{% url 'event_update' event.pk %}" class="btn btn-warning">編集</a></td>
        <td><a href="{% url 'event_delete' event.pk %}" class="btn btn-danger">削除</a></td>
      {% else %}
        <td></td>
        <td></td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
