{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-5">
        <div class="card-header">
          <h2 class="card-title">{{ event.name }}</h2>
        </div>
        <div class="card-body">
          <h5 class="card-subtitle mb-2 text-muted">日付: {{ event.date }}</h5>
          <h5 class="card-subtitle mb-2 text-muted">場所: {{ event.location }}</h5>
          <p class="card-text">{{ event.description }}</p>
          <h5 class="card-subtitle mb-2 text-muted">イベント作成者: {{ event.organizer }}</h5>
          <h5 class="card-subtitle mb-2 text-muted">イベント参加者:</h5>
          <ul>
            {% for vendor in event.vendors.all %}
              <li>{{ vendor }}</li>
            {% endfor %}
          </ul>
          <!-- Add this block -->
          {% if user.is_authenticated %}
            <a href="{% url 'event_participation_request' event.pk %}" class="btn btn-primary">Apply to Event</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}