db.sqlite3
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/**
*.py[cod]
*$py.class
.idea
.env

# テスト & カバレッジ関係
.pytest_cache/
.coverage_report/
.coverage
.pytest-results/
.pytest-alluredir

# venv
venv/

# 静的解析関係
.mypy_cache/
.ruff_cache/

backups/
