{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>イベント更新</h2>
      <form method="post" enctype="multipart/form-data" class="mt-4" id="eventForm">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="organizerForm" style="display: none;">
          {{ organizer_form.as_p }}
        </div>
        <div id="vendorForm" style="display: none;">
          {{ vendor_form.as_p }}
        </div>
        <input type="submit" class="btn btn-primary" value="更新">
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('eventForm');
    var organizerForm = document.getElementById('organizerForm');
    var vendorForm = document.getElementById('vendorForm');
    var role = document.getElementById('id_role').value;

    // ロールに応じてフォームを表示する関数
    function showFormBasedOnRole(role) {
      if (role === 'イベント主催者') {
        organizerForm.style.display = 'block';
        vendorForm.style.display = 'none';
      } else if (role === 'イベント出店者') {
        organizerForm.style.display = 'none';
        vendorForm.style.display = 'block';
      } else {
        organizerForm.style.display = 'none';
        vendorForm.style.display = 'none';
      }
    }

    // ページが読み込まれたときにフォームを表示する
    showFormBasedOnRole(role);

    // ロールが変更されたときにフォームを切り替える
    form.addEventListener('change', function(event) {
      var role = event.target.value;
      showFormBasedOnRole(role);
    });
  });
</script>

{% endblock %}
