{% extends 'base.html' %}

{% block content %}
<h1>アカウントプロフィール</h1>
<h1>名前：{{ user }}</h1>
<h1>email：{{ user.email }}</h1>

<h1>role: {{ user.role }}</h1>

<div id="organizer-info" style="display: none;">
  <h1>Organizer情報</h1>
  <p>性別: {{ organizer }}</p>
  <p>性別: {{ organizer.gender }}</p>
  <p>電話: {{ organizer.phone }}</p>
</div>

<div id="vendor-info" style="display: none;">
  <h1>Vendor情報</h1>
  <p>会社名: {{ user.vendor_profile.vendor_name }}</p>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var role = "{{ user.role }}";
  var organizerInfo = document.getElementById('organizer-info');
  var vendorInfo = document.getElementById('vendor-info');

  if (role === 'イベント主催者') {
    organizerInfo.style.display = 'block';
  } else if (role === 'イベント出店者') {
    vendorInfo.style.display = 'block';
  }
});
</script>

{% endblock %}
