 {% extends 'base.html' %}
{% block content %}

<h1>ユーザ登録フォーム</h1>
<form method="post" enctype="multipart/form-data" class="mt-4" id="signupForm">
  {% csrf_token %}
  {{ form.as_p }}
  <div id="organizerForm" style="display: none;">
    {{ organizer_form.as_p }}
  </div>
  <div id="vendorForm" style="display: none;">
    {{ vendor_form.as_p }}
  </div>
  <input type="submit" class="btn btn-default" value="登録">
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('signupForm');
    var organizerForm = document.getElementById('organizerForm');
    var vendorForm = document.getElementById('vendorForm');
    var roleSelect = document.getElementById('id_role');

    // 役割に応じてフォームを表示する関数
    function showFormBasedOnRole() {
      console.log(roleSelect.value);
      var role = roleSelect.value;
      if (role === 'organizer') {
        organizerForm.style.display = 'block';
        vendorForm.style.display = 'none';
      } else if (role === 'vendor') {
        organizerForm.style.display = 'none';
        vendorForm.style.display = 'block';
      } else {
        organizerForm.style.display = 'none';
        vendorForm.style.display = 'none';
      }
    }

    // ページが読み込まれたときにフォームを表示する
    showFormBasedOnRole();

    // 役割が変更されたときにフォームを切り替える
    roleSelect.addEventListener('change', showFormBasedOnRole);
  });
</script>

{% endblock %}
